/* Basic resets */
#appointment{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    background-image: url('./src/components/Book-An-Appointment-Page.jpg'); 
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(4px);
}

.appointment-container {
    border: 3px solid #020202;
    border-radius: 25px;
    
    box-shadow: 0 2px 4px rgba(26, 26, 26, 0.1);
    padding: 20px;
    width: 400px;
    text-align: center;
    backdrop-filter: blur(6px);
    position: relative;
}

h2 {
    color: #201d1d;
    margin-bottom: 20px;
}

.appointment-form {
    display: flex;
    flex-direction: column;
}

.form-group {
   
    margin-bottom: 15px;
    text-align: left;
}

label {
    margin-bottom: 5px;
    display: block;
     color: #2f2e2e;
}

input[type="text"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

.submit-button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #218838;
}
#phone{
    width: 345px;
    height:43px;
}
.phone-input::placeholder {
    color: #888; /* Light gray color for placeholder text */
}