/* Header.css */
body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    text-align: center;
  }
p{
  font-size: x-large;
  color: black;
}
  .error-image {
    height: 150px;
    width: 150px;
    height: auto;
    margin-top: 20px; /* Add some spacing between the text and image */
  }
  
