
/* Basic resets */
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#appointment {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    background:white; /* Medium green background color */
    padding: 20px;
    transition: background 0.5s ease; /* Smooth background transition */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.appointment-container {
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(32, 150, 119, 1.5); /* Enhanced shadow effect */
    padding: 30px;
    width: 100%;
    max-width: 500px; /* Wider width for the container */
    background-color: #ffffff; /* White background for contrast */
    text-align: center;
    position: relative;
    transition: box-shadow 0.3s ease; /* Smooth shadow transition */
    margin: 0 auto; /* Center the container horizontally */
}

.appointment-container:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Shadow effect on hover */
}

.ch{
    color: #333;
    margin-bottom: 20px;
    font-size: 32px;
    text-align: center;
    font-weight: 600;
}

.appointment-container .form-group {
    position: relative;
    margin: 20px 0;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 50px; /* More rounded input fields */
    outline: none;
    font-size: 16px;
    padding-left: 45px; /* Space for the icon */
}

div .form-group {
    border: none;
}

.form-group textarea {
    border-radius: 20px;
}

.form-group i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #888;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.appointment-container .btn {
    width: 50%;
    height: 45px;
    color: #209677; /* Light green text color */
    background-color: #ffffff; /* White background for the button */
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transitions for background and text color */
    margin-top: 20px;
    border-color: #209677;
}

.appointment-container .btn:hover {
    background-color: #209677; /* Green background on hover */
    color: #ffffff; /* White text color on hover */
}
